* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #0074D9;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 300px;

     */
    align-content: center;
    padding-top: 5%;
}

.flex-container > div {
    background-color: white;
    color: black;
    text-align: center;

    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    padding-top: 3%;
}
a{
    color:#0074D9;
    padding: 5%;
    text-decoration: underline;
}
a:hover{
    color:red;
}
input[type=submit]{
    padding: 8px 16px;
    background-color:#0074D9;
    color:white;
    border:none;
    border-radius: 5px;
}